<!DOCTYPE html>
<html lang="en">
<head>

	<title>ML API</title>
	
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
	

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-style.css') }}">
</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>

     <!-- FEATURE -->
     <section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-3 col-md-6 col-sm-12">
                         <div class="login">
				<h1>Percentage Prediction based on Number of hours studied</h1>

     				<!-- Main Input For Receiving Query to our ML -->
    				<form action="{{ url_for('predict')}}"method="post">
    					<input type="text" name="No.of Hours studied" placeholder="No.of Hours studied " required="required"/>
					<br>
					<br>
        				<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    				</form>
   				<br>
   				<br>
   				<p style="color:white;">{{ prediction_text }}</p>

 			</div>
                    </div>

               </div>
          </div>
     </section>


     

     <!-- SCRIPTS -->
     <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.stellar.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/smoothscroll.js')}}"></script>
	<script src="{{ url_for('static', filename='js/custom.js')}}"></script>
    
</body>
</html>